/*

the old way of doing horixontal layout
li{
    display:inline;
} */

/* The new way of doing horizaontal layout*/

ul{
    display:flex;
    /*by default, it has flex direction:row*/
    list-style: none;
    gap: 16px;
}

header, footer{
    display:flex;
    justify-content: space-between;
}


button{
    padding: 0.5rem 2rem;
    color: #3c4843;
    background-color: #f8f9fa;
    border:1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    
}
#climate-message {
    display:flex;
    gap:1em;
    align-items: center;

}

main{
    /display: flex; 
    justify-content: center;
    padding: 10%;
}

main li{
 display: flex; */
 justify-content: center; */
}

body {
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr, 3fr, 1fr;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

footer {
       background-color: lightgray;
    display:flex;
    margin-top: auto; 
        }
